"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter"
      "vim-mode"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 10
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "d066aaa4-63cd-1f08-a0e5-c8efdcf5268d"
  "git-plus":
    general:
      _analyticsUserId: "b87a31f7-4c7c-4a18-af7f-2ad25c52a013"
  linter: {}
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  pigments:
    markerType: "dot"
  "project-manager": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "toggle-packages":
    togglePackages: [
      "vim-mode"
      "linter"
    ]
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
