"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "linter"
    ]
  editor:
    fontSize: 10
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "d066aaa4-63cd-1f08-a0e5-c8efdcf5268d"
  "git-plus": {}
  linter: {}
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  pigments:
    markerType: "dot"
  "project-manager": {}
  "toggle-packages":
    togglePackages: [
      "vim-mode"
      "linter"
    ]
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
