packages: [
  "angularjs"
  "editorconfig"
  "git-plus"
  "git-time-machine"
  "language-docker"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-jscs"
  "linter-markdown"
  "logo-file-icons"
  "minimap"
  "package-sync"
  "pigments"
  "project-manager"
  "terminal-plus"
  "toggle-packages"
  "vim-mode"
]
