packages: [
  "angularjs"
  "atom-beautify"
  "autocomplete-emojis"
  "autocomplete-json"
  "busy-signal"
  "editorconfig"
  "git-plus"
  "git-time-machine"
  "intentions"
  "language-docker"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-jscs"
  "linter-markdown"
  "linter-ui-default"
  "livereload"
  "logo-file-icons"
  "minimap"
  "package-sync"
  "pigments"
  "project-manager"
  "script"
  "terminal-plus"
  "toggle-packages"
  "vim-mode"
]
